$accent--primary-1: #ff5634;
$secondary--color-2: #fff5f1;
$button-shadow--white-01: #1010100a;
$neutral--100: white;
$neutral--200: #fafafa;
$neutral--300: #ededed;
$neutral--400: #cacaca;
$neutral--600: #656565;
$neutral--800: #121212;
$secondary--color-1: #e13f1f;
$general--shadow-01: #14142b0f;

// break points
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop-m: 1024px;
$desktop: 1200px;
$wide: 1400px;
