.about {
  gap: 100px;

  &__container {
    padding: 0 25px;
    gap: 100px;
  }

  .about--row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 55px;

    @media (max-width: $laptop) {
      max-width: 680px;
      grid-template-columns: 1fr;
      margin: 0 auto;

      &:first-of-type {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .image {
      width: 100%;
      height: 85vh;
      border-radius: 25px;
      overflow: hidden;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: $tablet) {
        height: 50vh;
      }
    }

    .heading {
      font-size: 44px;
    }

    p {
      font-size: 18px;
    }
  }
}

.about__about-us {
  .image {
    background-image: url("../images/about-delivery-template-p-1080.jpeg");
  }
}

.about__our-mission {
  .image {
    background-image: url("../images/about-mission.jpeg");
  }
}
