.deliver {
  padding: 70px 0 0 0;
  border-top: 1px solid $neutral--400;

  .deliver-container {
    border-bottom: 1px solid $neutral--400;
    padding: 0 25px 70px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;

    @media (max-width: $laptop) {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }

  .logo {
    width: 200px;
  }

  p {
    color: $neutral--600;
    font-size: 18px;
    max-width: 500px;
  }

  .btns {
    gap: 26px;
    width: 100%;

    .btn {
      width: 100%;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 100%;
        height: 60px; // ← حدد ارتفاع ثابت لجميع الزرار
        padding: 0 20px; // padding أفقي فقط
        background-color: $accent--primary-1;
        color: $neutral--100;
        font-weight: 700;
        font-size: 16px;
        border-radius: 14px;
        text-decoration: none;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }
    }
  }
}
