.land {
  background-color: $neutral--200;
  padding: 70px 0 106px;

  .land-container {
    gap: 100px;
    padding: 0 24px;
  }

  &__top {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    align-items: center;

    @media (max-width: $laptop) {
      grid-template-columns: 1fr;
      max-width: 680px;
      gap: 50px;
    }

    .heading-title {
      @media (max-width: $laptop) {
        text-align: center;
      }

      .heading {
        font-size: 36px;
      }
    }

    &__right {
      .image {
        max-width: 470px;
        align-self: flex-end;
        width: 100%;
        height: 400px;
        background-image: url("../images/about-hero-delivery-template.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: $laptop) {
          align-self: center;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    color: $neutral--800;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.179em;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $laptop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      max-width: 600px;
      font-size: 40px;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media (max-width: $laptop) {
        gap: 10px;
      }
    }

    span {
      color: $accent--primary-1;
    }
    p {
      font-size: 18px;
      line-height: 1.111em;
      font-weight: 500;
      color: $neutral--600;

      @media (max-width: $laptop) {
        font-size: 14px;
      }
    }
  }
}
