.news {
  &__container {
    padding: 0 25px;
  }

  .heading-title {
    max-width: 620px;
    margin: 0 auto 50px;
  }

  .news-cards {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 28px;

    @media (max-width: $laptop) {
      max-width: 680px;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }
  }
  .news-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 98px 66px;
    background-color: white;
    box-shadow: 0 2px 12px 0 #10101014;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;

    @media (max-width: $laptop) {
      gap: 30px;
    }

    &:hover {
      transform: translateY(-20px);

      .card-bottom:first-child::after,
      .card-bottom > :first-child::after {
        transform: translate(8px, -18px) rotate(-45deg);
      }
    }

    @media (max-width: $tablet) {
      padding: 42px 25px;
    }

    .card-bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width: $laptop) {
        flex-direction: column;
      }

      > :first-child {
        color: $accent--primary-1;
        font-size: 18px;
        font-weight: 700;
        position: relative;

        &::after {
          content: "";
          background-image: url("../images/arrow-up.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 25px;
          height: 25px;
          position: absolute;
          right: -28px;
          top: 10px;
          transform: translateY(-50%) rotate(-45deg);
          transition: 0.3s;

          @media (max-width: $tablet) {
            right: 0;
          }
        }
      }

      > :last-child {
        color: $neutral--600;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
