.our-journey {
  &__container {
    padding: 30px 25px;
    gap: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    @media (max-width: $laptop) {
      grid-template-columns: 1fr;
      max-width: 680px;
    }
  }

  &__left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    gap: 48px;

    @media (max-width: $laptop) {
      position: relative;
      height: fit-content;
    }

    .heading-title {
      .heading {
        font-size: 44px;
      }

      p {
        font-size: 18px;
      }
    }

    .button {
      border: 1px solid $accent--primary-1;
      background-color: $accent--primary-1;
      color: $secondary--color-2;
      width: fit-content;
      text-align: center;
      border-radius: 16px;
      justify-content: center;
      padding: 26px 38px;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s, border-color 0.3s;
      &:hover {
        border-color: $secondary--color-1;
        background-color: $secondary--color-1;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .heading-title {
      padding: 60px 53px;
      background-color: $neutral--100;
      border-radius: 32px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      h3 {
        color: $neutral--800;
        margin-top: 0;
        margin-bottom: 32px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.417em;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.667em;
      }
    }
  }
}
