.our-partner {
  &__container {
    padding: 0 25px;
  }
  .heading-title {
    max-width: 700px;
    margin: 0 auto 110px;
    .heading {
      font-size: 44px;
    }
  }

  .partners {
    @media (max-width: $laptop) {
      max-width: 350px;
      margin: 0 auto;
    }
  }

  .partner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: $neutral--800;
    font-weight: 700;
    p {
      text-align: center;
      font-weight: normal;
      font-size: 18px;
    }
  }
}
