section:nth-of-type(odd) {
  background-color: $neutral--200;
}

section,
footer {
  padding-top: 166px;
  padding-bottom: 166px;

  @media (max-width: $laptop) {
    padding-top: 133x;
    padding-bottom: 133px;
  }
}

.copyright {
  border-top: 1px solid $neutral--300;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

  span {
    color: $accent--primary-1;
  }
}
